@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.title {
	height: 15px;
	width: cover;
	font-size: 10px;
	font-family: 'Roboto Mono', monospace;
}

.invite {
	color: #777777;
	font-size: 10px;
	text-decoration: none;
	font-family: 'Roboto Mono', monospace;
}