@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.body {
	background-color: #f2efef;
}

.title {
	width: cover;
	font-size: 10px;
	font-family: 'Roboto Mono', monospace;
}

.title a {
	color: black;
}

.profile {
	font-size: 11px;
	padding-top: 10px;
	font-family: 'Roboto Mono', monospace;
}

.profile img {
	border-right: 3px solid #2980b9;
}

.content {
	padding-top: 10px;
	padding-bottom: 0px;
	font-family: 'Roboto Mono', monospace;
}

.content img {
	border-bottom: 3px solid #2980b9;
}

.invite {
	color: #777777;
	font-size: 10px;
	text-decoration: none;
	font-family: 'Roboto Mono', monospace;
}

.footer {
  padding-right: 15px;
  padding-left: 15px;
  font-family: 'Roboto Mono', monospace;
  font-size: 10px;

}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
    font-family: 'Roboto Mono', monospace;
  }
}
.container-narrow > hr {
  margin: 30px 0;
  font-family: 'Roboto Mono', monospace;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-right: 0;
    padding-left: 0;
    font-family: 'Roboto Mono', monospace;
  }
}
